[submodule "lib/Renderer"]
	path = lib/Renderer
	url = https://github.com/Brick-Labs/Renderer.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/Logger"]
	path = lib/Logger
	url = https://github.com/Brick-Labs/Logger.git
[submodule "lib/FileHandler"]
	path = lib/FileHandler
	url = https://github.com/Brick-Labs/FileHandler.git
[submodule "lib/Interface"]
	path = lib/Interface
	url = https://github.com/Brick-Labs/Interface.git
